django
djangorestframework
django-cors-headers
celery
redis
requests
python-dotenv
django-autocomplete-light>=3.9.7
django-ratelimit>=4.1.0
gunicorn
psycopg2-binary
dj-database-url
whitenoise
Pillow
groq